.sidebar {
  width: 300px;
  background: #FFF7FD;
  padding: 20px;
  border: 1px solid #FED7E2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.sidebar h3 {
  font-size: 16px;
  margin-bottom: 12px;
  color: #333;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 300px;
  }
}
